apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: POST

  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: pon_monitoring
    editable: true
    jsonData:
      version: Flux
      organization: wagateway
      defaultBucket: pon_monitoring
      tlsSkipVerify: true
    secureJsonData:
      token: ${INFLUXDB_TOKEN}

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: wagateway
    user: ${POSTGRES_USER}
    editable: true
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 10
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: true
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
